.containerbanners {
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px; /* Limit the banner width */
    min-width: 320px;  /* Ensure minimum width */
    overflow: hidden;
}

.contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}

.text-sections {
    flex: 1;
    max-width: 50%;
    min-width: 280px;
}

.text-sections h1 {
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 20px;
}

.text-sections p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}

.input-group {
    max-width: 400px;
}

.input-group input {
    border-radius: 50px 0 0 50px;
    padding: 15px 20px;
    border: 1px solid #ccc;
}

.input-group button {
    border-radius: 0 50px 50px 0;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: none;
}

.image-sections {
    max-width: 50%; /* Prevent exceeding half the banner */
    min-width: 200px; /* Ensure minimum size */
    height: auto;
    position: relative;
    z-index: 1;
    margin-top: 3%;
}

.imgcircles {
    width: 100%; 
    height: auto;
    max-width: 25rem; /* Control maximum width */
    min-width: 15rem; 
}

.image-sections img {
    border-radius: 15px;
    width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
    .containerbanners {
        max-width: calc(100% - 20px);
    }

    .text-sections, .image-sections {
        max-width: 100%;
        flex: 100%;
        text-align: center; 
    }

    .text-sections {
        margin-bottom: 20px;
    }

    .text-sections h1 {
        font-size: 2rem; 
    }

    .text-sections p {
        font-size: 0.9rem; 
    }
    .imgcircles{
        max-width: 20rem; 
    }
}